* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --black-800: #101010;
  --black-600: #252525;
  --white: #fff;
  --light: #fcf5eb;
  --brown-400: #c09578;
  --gray: #626262;
}

body {
  background-color: var(--black-600);
  color: #fff;
}

.primary-bg-color {
  background-color: var(--black-600);
}

.secondary-bg-color {
  background-color: var(--brown-400);
}

.light-bg-color {
  background-color: var(--light);
}

.dark-bg-color {
  background-color: var(--black-800);
}

.primary-color {
  color: var(--brown-400);
}

.secondary-color {
  color: var(--gray);
}

.light-color {
  color: var(--light);
}

.btn {
  background-color: transparent;
  border-color: var(--brown-400);
}

.btn:hover {
  background-color: var(--brown-400);
  border-color: var(--brown-400);
}

/* NAVBAR */
#navbar a,
#navbar button {
  color: var(--white);
}

.navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
}

#navbar-items {
  justify-content: space-between;
}

#navbar .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
}

#navbar .navbar-nav li {
  margin-left: 1em;
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar .badge {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0;
  line-height: unset;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}

#bag-item span {
  left: 20px;
}

#search-form,
#news-form {
  width: 100%;
  margin: 2em 0;
  border: 2px solid var(--gray);
  border-radius: 3px;
  padding: 5px 15px;
}

#search-form input,
#news-form input {
  background-color: transparent;
  border: none;
  color: var(--white);
}

#search-form input:focus,
#news-form input:focus {
  box-shadow: none;
}

#search-form input::placeholder,
#news-form input::placeholder {
  color: var(--white);
}

/* BOTTOM NAVBAR */
#bottom-navbar-container .container {
  justify-content: flex-end;
}

#bottom-navbar-container a {
  font-weight: 600;
  color: var(--white);
}

.navbar-toggler {
  font-size: 1.5em;
}

/* SLIDER */
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
  left: 12%;
  right: 12%;
  padding: 1em;
}

.carousel-caption h5 {
  font-size: 1.8em;
}

/* MINI BANNERS */
#mini-banners {
  z-index: 10;
  margin-top: -3em;
}

#mini-banners .col-12 {
  z-index: 1;
  height: 300px;
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
}

#mini-banners .col-12 h2 {
  text-transform: uppercase;
  max-width: 50px;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1em;
}

#mini-banners .col-12 img {
  height: 220px;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

#mini-banners .col-12 a {
  font-weight: bold;
  color: var(--white);
  font-size: 0.8em;
  transition: 0.5s;
}

#mini-banners .col-12 a:hover {
  color: #101010;
}

#mini-banners #mini-banner-1 a:hover {
  color: #c09578;
}

#mini-banners #mini-banner-3 a {
  color: #101010;
}

#mini-banners #mini-banner-3 a:hover {
  color: #c09578;
}

/* BEST SELLERS */
#best-sellers {
  padding: 5em 0;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
  margin-bottom: 1em;
  text-align: center;
}

.card {
  text-align: center;
  border-radius: 0;
  height: 100%;
}

.card img {
  width: 140px;
  margin: 2em auto;
}

.card-category {
  font-size: 0.8em;
}

.card-text {
  font-weight: bold;
  margin: 2em 0;
}

/* BANNER DE DESTAQUE */
#bottom-banner {
  background-color: var(--black-800);
  padding: 6em;
  margin-bottom: 4em;
}

.offer-subtitle,
#bottom-banner h2 {
  text-transform: uppercase;
  font-weight: bold;
}

#bottom-banner .btn {
  margin: 2em;
  padding: 1em;
}

#bottom-banner img {
  max-width: 175px;
}

/* NOVOS PRODUTOS */
#new-products {
  margin-bottom: 5em;
}

#new-products-banner {
  background-color: var(--black-800);
}

#new-products-banner h3 {
  margin-bottom: 0.5em;
  font-size: 2em;
}

#new-products .col-md-4 {
  padding: 0;
}

#new-products .card img {
  height: 150px;
  width: 90px;
  margin: 2em auto;
}

/* GALERIA */
.image-container {
  background-size: cover;
  background-position: center;
  height: 225px;
  cursor: pointer;
  transition: 0.5s;
  border: 3px solid var(--black-800);
}

.image-container:hover {
  border-color: var(--brown-400);
}

#insta2 {
  background-image: url("../img/insta2.jpg");
}

#insta3 {
  background-image: url("../img/insta3.jpg");
}

#insta4 {
  background-image: url("../img/insta4.jpg");
}

#insta5 {
  background-image: url("../img/insta5.jpg");
}

#insta6 {
  background-image: url("../img/insta6.jpg");
}

#insta1 {
  background-image: url("../img/insta1.jpg");
}

/* FOOTER */
#footer-links-container {
  border-bottom: 1px solid var(--gray);
}

.footer-column {
  padding: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer-links-container h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
}

#footer-links-container li {
  font-size: 0.8em;
  text-align: center;
}

#footer-links-container a {
  text-decoration: none;
}

#footer-links-container a:hover {
  color: var(--brown-400);
}

#footer-center {
  border-left: 1px solid var(--brown-400);
  border-right: 1px solid var(--brown-400);
}

#footer-center h3 {
  font-weight: 900;
}

.store-phone {
  color: var(--brown-400);
  font-size: 2em;
  margin-top: -15px;
}

/* NEWSLETTER */
#newsletter-container {
  border-bottom: 1px solid var(--gray);
  text-align: center;
  padding: 20px;
}

#news-form {
  max-width: 600px;
  margin: 15px auto;
}

#news-form i {
  font-size: 1.5em;
}

#news-form button {
  color: var(--white);
}

#social-container {
  margin: 20px auto;
}

#social-container i {
  font-size: 1.5em;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#social-container i:hover {
  color: var(--brown-400);
}

@media (min-width: 768px) {
  /* NAVBAR */
  .navbar-brand {
    text-align: left;
  }

  #navbar-items {
    display: flex;
    min-width: 80%;
  }

  #search-form,
  #news-form {
    margin: 0;
    width: 50%;
  }

  /* SLIDER */
  .carousel-item {
    height: 600px;
  }

  .carousel-caption {
    left: 23%;
    right: 23%;
    bottom: 5em;
    transform: unset;
  }

  .carousel-caption h5 {
    font-size: 4em;
  }

  /* BEST SELLERS */
  .title {
    text-align: left;
  }

  /* BANNER DE DESTAQUE */
  #bottom-banner h2 {
    font-size: 6em;
  }

  /* FOOTER */
  .footer-column {
    padding: 5em 2em;
  }
}
