* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --black-800: #101010;
  --black-600: #252525;
  --white: #fff;
  --pink-100: #fcf5eb;
  --brown-400: #c09578;
  --gray: #626262;
}

body {
  background-color: var(--black-600);
  color: #fff;
}

.primary-bg-color {
  background-color: var(--black-600);
}

.secondary-bg-color {
  background-color: var(--brown-400);
}

.light-bg-color {
  background-color: #fcf5eb;
}

.dark-bg-color {
  background-color: var(--black-800);
}

.primary-color {
  color: var(--brown-400);
}

.secondary-color {
  color: var(--gray);
}

.light-color {
  color: var(--pink-100);
}

.btn {
  background-color: transparent;
  border-color: var(--brown-400);
}

.btn:hover {
  background-color: var(--brown-400);
  border-color: var(--brown-400);
}

/* NAVBAR */
#navbar a,
#navbar button {
  color: var(--white);
}

.navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
}

#navbar-items {
  justify-content: space-between;
}

#navbar .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
}

#navbar .navbar-nav li {
  margin-left: 1em;
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar .badge {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0;
  line-height: unset;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}

#bag-item span {
  left: 20px;
}

#search-form {
  width: 100%;
  margin: 2em 0;
  border: 2px solid var(--gray);
  border-radius: 3px;
  padding: 5px 15px;
}

#search-form input {
  background-color: transparent;
  border: none;
  color: var(--white);
}

#search-form input:focus {
  box-shadow: none;
}

#search-form input::placeholder {
  color: var(--white);
}

/* BOTTOM NAVBAR */
#bottom-navbar-container .container {
  justify-content: flex-end;
}

#bottom-navbar-container a {
  font-weight: 600;
  color: var(--white);
}

.navbar-toggler {
  font-size: 1.5em;
}

/* SLIDER */
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
  left: 12%;
  right: 12%;
  padding: 1em;
}

.carousel-caption h5 {
  font-size: 1.8em;
}

/* MINI BANNERS */
#mini-banners {
  z-index: 10;
  margin-top: -3em;
}

#mini-banners .col-12 {
  z-index: 1;
  height: 300px;
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
}

#mini-banners .col-12 h2 {
  text-transform: uppercase;
  max-width: 50px;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1em;
}

#mini-banners .col-12 img {
  height: 220px;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

#mini-banners .col-12 a {
  font-weight: bold;
  color: var(--white);
  font-size: 0.8em;
  transition: 0.5s;
}

#mini-banners .col-12 a:hover {
  color: #101010;
}

#mini-banners #mini-banner-1 a:hover {
  color: #c09578;
}

#mini-banners #mini-banner-3 a {
  color: #101010;
}

#mini-banners #mini-banner-3 a:hover {
  color: #c09578;
}

/* BEST SELLERS */
#best-sellers {
  padding: 5em 0;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
  margin-bottom: 1em;
  text-align: center;
}

.card {
  text-align: center;
  border-radius: 0;
  height: 100%;
}

.card img {
  width: 140px;
  margin: 2em auto;
}

.card-category {
  font-size: 0.8em;
}

.card-text {
  font-weight: bold;
  margin: 2em 0;
}

@media (min-width: 768px) {
  /* NAVBAR */
  .navbar-brand {
    text-align: left;
  }

  #navbar-items {
    display: flex;
    min-width: 80%;
  }

  #search-form {
    margin: 0;
    width: 50%;
  }

  /* SLIDER */
  .carousel-item {
    height: 600px;
  }

  .carousel-caption {
    left: 23%;
    right: 23%;
    bottom: 5em;
    transform: unset;
  }

  .carousel-caption h5 {
    font-size: 4em;
  }

  /* BEST SELLERS */
  .title {
    text-align: left;
  }
}
